@import 'tailwindcss';
@import 'vitepress-theme-neptu/tailwind-source.css';

.sidebar-logo {
  border-bottom: 3px solid var(--gray-700);
}

.dark .sidebar-logo {
  border-bottom: 3px solid black;
}

.home-hero-img {
  border: 16px solid white;
  border-radius: 44px;
}

.dark .home-hero-img {
  border-color: var(--gray-300);
}
